<template>
  <Employee />
  <ThePost v-if="showPost" />
</template>

<script>
import ThePost from './components/ThePost'
import Employee from './components/Employee'

export default {
  name: 'App',
  data () {
    showPost: false
  },
  components: {
    ThePost, Employee
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 60px;
}
</style>
