<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <ul>
            <li v-for="post in posts">{{ post.title }}</li>
        </ul> -->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(post, index) in posts">
                    <td>{{ index + 1 }}</td>
                    <td>{{ post.title }}</td>
                    <td>
                        <button class="btn btn-primary" @click="details(post.id)">detail</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="position:fixed; top: 10px; right: 10px; border: 2px solid #999; 
        width:200px; background-color: white;">
            id:    {{ post.id }}<br>
            title: {{ post.title }}<br>
            Body:  {{ post.body }}<br>
        </div>
    </div>

    <!-- see also fetch() -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script>
        // create a new Vue Object instance
        new Vue({
            el: '#app',
            data: function() {
                return {
                    posts: [],
                    post: {}
                }
            },
            methods: {
                details: function(id) {
                    alert(id);
                    let url = 'https://jsonplaceholder.typicode.com/posts/'+id;
                    let there = this;
                    axios.get(url).then(function(response) {
                        there.post = response.data;
                        console.log(there.post);
                    });
                }
            },
            created: function() {
                console.log('created...');
                let url = 'https://jsonplaceholder.typicode.com/posts';
                let there = this;
                axios.get(url).then(function(response) {
                    there.posts = response.data;
                    console.log(there.posts);
                });
            }
        });
    </script>
</body>
</html>