<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Data Binding</title>
</head>
<body class="container">
    <div id="app">
        <div class="row mt-4">
            <div class="col-md-1">Name</div>
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="name" :disabled="submitted">
                <span v-if="! isValid" class="text-danger">Name cannot empty</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary" :disabled="submitted" @click="submit">
            </div>
        </div>
    </div>
    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function() {
            $('[type=submit]').click(function() {
                alert('ok, jquery working');
            });
        });

        new Vue({
            el: '#app',
            data: {
                submitted: false,
                name: '',
                isValid: true,
            },
            methods: {
                submit: function() {
                    if (this.name == '') {
                        this.isValid = false;
                    } else {
                        this.isValid = true;
                        this.submitted = true;
                    }
                }
            },
        });

        
    </script>
</body>
</html>