<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <title>Vue 3 example</title>
</head>
<body class="container">
    <div id="app">
        {{ message }} <a href="#" @click="sayHello" >Click Me</a>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        // new Vue({
        //     el: '#app',
        //     data: {
        //         message: 'Hello, world',
        //     },
        //    methods: {
        //     sayHello: function() {}
        //    }
        // });
        //const { createApp } = Vue
        Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!'
                }
            },
            methods: {
                sayHello() {
                    alert('Hello Vue!');
                }
            }
        }).mount('#app')
    </script>
</body>
</html>