<template>
    <h2>List of Employees</h2>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Details</th>
        </tr>
        <tr v-for="(emp, no) in employees" :key="emp.email">
            <td>{{ no + 1 }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.email }}</td>
            <td><a href="#" @click="showDetails(emp.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</a></td>
        </tr>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Name : {{ employee.name }} <br>
                    Email : {{ employee.email }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            employees: [],
            employee: {}
        }
    },
    created() {
        // call AJAX using AXIOS
        axios.get('http://localhost:3000/employees')
        .then(response => response.data)
        .then(data => {
            console.log("data employees", data);
            this.employees = data;
        })
        .catch(err => alert(err))
    },
    methods: {
        showDetails(id) {
            axios({
                method: 'get',
                url: 'http://localhost:3000/employees/' + id
            })
            .then(response => response.data)
            .then(data => this.employee = data)
            .catch(err => alert(err));
        }
    }
}
</script>
