<template>
    <div v-if="post.title">
        title: {{ post.title}} <br>
        Body : {{ post.body }}
        <hr>
    </div>

    <table border="1">
        <tr>
            <td>#</td>
            <td>User ID</td>
            <td>Title</td>
            <td>Content</td>
            <td>Action</td>
        </tr>
        <tr v-for="(post, index) in posts" :key="post.id">
            <td>{{ index + 1 }}</td>
            <td>{{ post.userId }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td><a href="#" @click="showDetails(post.id)">Details</a></td>
        </tr>
    </table>
</template>

<script>
export default {
    data() {
        return {
            posts: [],
            post: {}
        }
    },
    created() {
        // fetch() is part of js library
        let url = "https://jsonplaceholder.typicode.com/posts";
        fetch(url)
        .then(response => response.json())
        .then(json =>  {
            console.log("data json", json);
            this.posts = json;
        })
        .catch(error => console.log(error));
    },
    methods: {
        showDetails(id) {
            let url = "https://jsonplaceholder.typicode.com/posts/"+id;
            fetch(url)
            .then(response => response.json())
            .then(json =>  {
                console.log("data json", json);
                this.post = json;
            })
            .catch(error => console.log(error));
        }
    }
}
</script>