<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Binding</title>
</head>
<body>
    <div id="app">
        <my-component></my-component> <br>
        <my-component></my-component>
        <greeting name="Azman"></greeting>
        <greeting name="John Doe"></greeting>
    </div>

    <template id="my-template">
        <div>
            <button @click="increment">{{ no }}</button>
            <button @click="no += 2">{{ no }}</button>
        </div>
    </template>

    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script>
        Vue.component('greeting', {
            props: ['name'],
            template: '<div>Hello {{ name }}</div>',
        });

        var myComponent = Vue.component('my-component', {
            //template: '<div>my custom component</div>'
            template: '#my-template',
            data: function() {
                return {
                    no: 10
                }
            },
            methods: {
                increment: function() {
                    this.no++;
                }
            }
        });

        new Vue({
            el: '#app',
            data: {},
            methods: {},
            // components: {
            //     myComponent: myComponent
            // }
        });
    </script>
</body>
</html>