<template>
    <div>
        <input type="text" v-model="task" class="form-control">
        <div class="input-errors" v-for="error of v$.task.$errors" :key="error.$uid">
            <div class="text-danger">{{ error.$message }}</div>
        </div>
        <button @click="addTask" :style="{ background: color}" class="btn btn-primary mt-1">Add Task</button>
        <ul>
            <li v-for="(task, index) in taskList" :key="index"> {{ task }}</li>
        </ul>
    </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
export default {
    setup () {
        return { v$: useVuelidate() }
    },
    name: 'TaskInput',
    props: {
        color: String,
    },
    data() {
        return {
            task: '',
            taskList: [],
            color2: 'red'
        }
    },
    validations () {
        return {
            task: { required, email }, // Matches this.task
        }
    },
    methods: {
        async addTask() {
            // event emitting
            const result = await this.v$.$validate()
            if (!result) {
                return
            }
            this.taskList.push(this.task); // add to array
            this.$emit('add-task', this.task);
            this.task = '';
        }
    },
    unmounted() {
        console.log("TaskInput destroyed");
    }
}
</script>

<style scoped>
    
</style>
