<template>
  <div>
    <h2>Film List</h2>

    <v-card elevation="2" v-if="details" width="400px">
      <v-card-text>
        Title : {{ film.title }}<br>
        Description : {{ film.description}}
      </v-card-text>
      <v-card-actions>
        <v-btn @click="details=false">X</v-btn>
      </v-card-actions>
    </v-card>

    <v-card elevation="2" width="400px">
      <v-card-text>
        <v-text-field label="Film Title" v-model="title" />
        <v-btn @click="search">Search</v-btn>
      </v-card-text>
    </v-card>
    <br>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th>No.</th>
            <th class="text-left">Title</th>
            <th class="text-left">Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(film, num) in films" :key="film.filmId">
            <td>{{ num + no }}</td>
            <td>{{ film.title }}</td>
            <td>{{ film.description }}</td>
            <td><v-btn @click="getDetails(film.filmId)">Details</v-btn></td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <!-- pagination -->
    <div class="text-center">
      <v-pagination v-model="page" :length="pageNum"></v-pagination>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data () {
    return {
      films: [],
      film: {},
      details: false,
      page: 1,
      pageNum: 1,
      no: 1,
      title: ''
    }
  },
  watch: {
    page() {
      let url = 'http://localhost:9999/sakila/film?act=list2&page='+this.page;
      axios.get(url)
      .then(response => response.data)
      .then(data => {
        this.films   = data.data;
        this.pageNum = data.pageNum;
        this.no = (this.page - 1) * 20 + 1;
      })
      .catch(err => alert(err));
    }
  },
  created () {
    let url = 'http://localhost:9999/sakila/film?act=list2';
    axios.get(url)
    .then(response => response.data)
    .then(data => {
      this.films   = data.data;
      this.pageNum = data.pageNum;
    })
    .catch(err => alert(err));
  },
  methods: {
    getDetails(filmId) {
      let url = 'http://localhost:9999/sakila/film?act=details&filmId=' + filmId;
      axios.get(url)
      .then(response => response.data)
      .then(data => {
        console.log(data);
        this.film = data;
        this.details = true; // show the details card
      })
      .catch(err => alert(err));
    },
    search() {
      let url = 'http://localhost:9999/sakila/film?act=list2&title=' + this.title;
      axios.get(url)
      .then(response => response.data)
      .then(data => {
        this.films   = data.data;
        this.pageNum = data.pageNum;
      })
      .catch(err => alert(err));
    }
  }
}
</script>
