<template>
  <the-calculator />
  <bank-calculator />
  <hr>
  <material-card-box>
    <!-- <p>content here</p> -->
    <template v-slot:header>
      <strong>Card Title</strong>
      <span>Card Sub-title</span>
    </template>

    <template #media>
      <img src="https://via.placeholder.com/350x150">
    </template>

    <template #action>
      <button @click="pressedMe">Action Button</button>
      <button>Action Button</button>
    </template>
  </material-card-box>
</template>

<script>
import TheCalculator from "./components/TheCalculator";
import BankCalculator from "./components/BankCalculator";
import MaterialCardBox from './components/MaterialCardBox';

export default {
  name: 'App',
  components: {
    MaterialCardBox, TheCalculator, BankCalculator
  },
  methods: {
    pressedMe() {
      alert('You pressed me');
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
