<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Binding</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="first_name">
        <input type="text" v-model="last_name">
        <input type="text" v-model="nama_penuh">
        {{ full_name}} {{ first_name }} {{ last_name }}
    </div>

    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                first_name: 'John',
                last_name: 'Doe',
                full_name: 'John Doe',
            },
            computed: {
                nama_penuh: function() {
                    return this.first_name + ' ' + this.last_name;
                }
            },
            // listening / watch on changes to data
            watch: {
                first_name: function() {
                    this.full_name = this.first_name + ' ' + this.last_name;
                },
                last_name: function() {
                    this.full_name = this.first_name + ' ' + this.last_name;
                }
            }
        });
    </script>
</body>
</html>