<template>
    <v-table>
        <thead>
            <tr>
                <th>No</th>
                <th class="text-left">Title</th>
                <th class="text-left">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(film, no) in films" :key="film.filmId">
                <td>{{ no + 1 }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.description }}</td>
            </tr>
        </tbody>
    </v-table>
</template>

<script>
import axios from 'axios';
export default {
    data () {
        return {
        films: [],
        }
    },
    created () {
        axios.get('http://localhost:9090/sakila/film?act=list2')
        .then(response => response.data)
        .then(data => {
            console.log(data)
            this.films = data;
        })
        .catch(err => alert(err));
    }
}
</script>