<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Binding</title>
</head>
<body>
    <div id="app">
        <!-- this is one way data binding -->
        <input id="input1" type="text" v-bind:value="message" placeholder="Edit Me">

        <!-- this is two ways data binding -->
        <input type="text" v-model="message" placeholder="Edit Me">
        <input type="checkbox" v-model="cb"> {{ cb }} <br>
        Gender:
        Male   <input type="radio" name="gender" value="M" v-model="gender">
        Female <input type="radio" name="gender" value="F" v-model="gender">
        <br>
        <select v-model="color">
            <option value="0">Please Choose A Color</option>
            <option value="r">Red</option>
            <option value="b">Blue</option>
            <option value="g">Green</option>
        </select>
        {{ color }}
    </div>

    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Tony',
                cb: true,
                gender: 'M',
                color: ''
            },
        });
    </script>
</body>
</html>