<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Binding</title>
</head>
<body>
    <div id="app">
        <!-- v-bind: is called directive -->
        <h1 v-bind:id="header_id">Hello {{ name | upper }}</h1>
        <h1 :id="header_id">Hello {{ name | lower }}</h1>
    </div>

    <div id="app2">
        {{ html_output }}
        <span v-html="html_output"></span>
    </div>

    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script>
        new Vue({
            el: '#app2',
            data: {
                html_output: '<a href="https://google.com">google</a>',
            }
        });

        // create a new Vue Object instance
        // vue 3 removed filter
        var vm = new Vue({
            el: '#app',
            data: {
                header_id: 'greeting',
                name: 'Tony',
            },
            filters: {
                upper: function(value) {
                    return value.toUpperCase();
                },
                lower: function(str) {
                    return str.toLowerCase();
                }
            }
        });
    </script>
</body>
</html>