<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Binding</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(food, index) in groceries">{{ index + 1 }} {{ food }}</li>
        </ul>

        <ul>
            <li v-for="f in food">{{ f }}</li>
        </ul>

        <ul>
            <li v-for="(val, key) in fruit">{{ key }} : {{ val }}</li>
        </ul>
    </div>

    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                groceries: ['Milk', 'Cheese', 'Egg'],
                food: [1,2,3],
                fruit: {
                    name: 'Apple',
                    weight: 0.2,
                    color: 'Green'
                }
            }
        });

    </script>
</body>
</html>