<template>
    <h2>New Employee</h2>
    <div class="row">
        <div class="col-12">
            <label>Name</label>
            <input type="text" class="form-control" v-model="name" required>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label>Email</label>
            <input type="email" class="form-control" v-model="email" required>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <button class="btn btn-primary" @click="saveEmployee">Submit</button>
        </div>
    </div>
</template>

<script>
import axios from "axios";
export default {
    data() {
        return {
            name: '',
            email: ''
        }
    },
    methods: {
        saveEmployee() {
            console.log("Saving employee", this.name, this.email);
            axios({
                method: 'post',
                url: 'http://localhost:3000/employees',
                data: {
                    name: this.name,
                    email: this.email
                }
            })
            .then(response => alert('data has been saved'))
            .catch(err => alert(err));
        }
        DOMQuadadasd
    }
}
</script>