<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ name }}
        <input type="text" v-model="name">
    </div>

    <script src="vuejs-2.7.0.js"></script>
    <script>
        // create a new Vue Object instance
        var vm = new Vue({
            el: '#app',
            data: {
                name: 'Tony'
            },
            created: function() {
                // run on vue instance created
                console.log('vue instance has been created');
            },
            mounted: function() {
                // run after created, on loaded into HTML
                console.log('vue instance has been mounted');
            },
            updated: function() {
                // run everytime data change
                console.log('vue instance has been updated');
            },
            destroyed: function() {
                // run everytime object destroyed
                console.log('vue instance has been destroyed');
            }
        });

        // run after 5 seconds
        setTimeout(function() {
            vm.$destroy();
        }, 5000);
    </script>
</body>
</html>