<template>
<v-app>
    <v-card class="overflow-hidden">
        <v-app-bar
      absolute
      color="#fcb69f"
      dark
      shrink-on-scroll
      src="https://picsum.photos/1920/1080?random"
      scroll-target="#scrolling-techniques-2"
    >
            <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>My files</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn variant="text" icon="mdi-magnify"></v-btn>
            <v-btn variant="text" icon="mdi-filter"></v-btn>
            <v-btn variant="text" icon="mdi-dots-vertical"></v-btn>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" bottom temporary>
            <v-list v-for="item in items" :key="item.to">
                <v-list-item :to="item.to" link>{{ item.title }}</v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-main>
            <router-view/>
        </v-main>
    </v-card>
</v-app>
</template>

<script>
  export default {
    data: () => ({
      drawer: false,
      group: null,
      items: [
        {
          title: 'Home',
          to: '/'
        },
        {
          title: 'Demo',
          to: '/demo'
        },
        {
          title: 'Film',
          to: '/film'
        },
      ],
    }),

    watch: {
      group () {
        this.drawer = false
      },
    },
  }
</script>