<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <TaskInput @add-task="addNewTask" color="green" />
    <TaskInput @add-task="addNewTask" color="blue" />
  </div>
</template>

<script>
import TaskInput from '../task/TaskInput.vue';
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    addNewTask(task) {
      console.log(task);
      //alert(`New task added ${task}`);
    }
  },
  components: { 
    TaskInput
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
