<template>
    <div>{{ greeting }}</div>
</template>

<script>
export default {
    name: 'MyGreeting',
    data() {
        return {
            greeting: 'Hello'
        }
    }
}
</script>

<style scoped>
    div {
        border: 2px solid green;
    }
</style>
