<template>
    <Navigation />
</template>

<script>
import Navigation from './components/Navigation.vue';

export default {
  name: 'App',
  components: { Navigation },
}
</script>

<style>
.v-main {
  border: 1px solid #ccc;
  padding: 80px 10px !important;
}

.v-table thead th {
  background: #ddd !important;
}

body {
  margin: 20px;
}
</style>