<template>
    <h1>Bank calculator</h1>
    <button @click="calc(3,4)">Calculate</button>
</template>

<script>
import calculator from "../mixins/caculator";

export default {
    mixins: [calculator]
}
</script>