<template>
    <div class="cardBox elevation_0">
        <div class="section">
            This is a material card box
            <!-- <slot /> -->
            <div class="header">
                <slot name="header" />
            </div>

            <div class="media">
                <slot name="media" />
            </div>

            <div class="action">
                <slot name="action" />
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "MaterialCardBox",
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import '../style/elevation.css';
* {
    font-family: 'Roboto', sans-serif;
 }

 .cardBox {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border-radius: 0.25rem;
 }

 .cardBox > .section {
    padding: 1rem;
    position: relative;
 }
</style>