<template>
    <h1>The Calculator {{ name }}</h1>
    <button @click="calc(2,2)">Calculate</button>
</template>

<script>
import calculator from "../mixins/caculator";
export default {
    mixins: [calculator]
}
</script>