<template>
  <MenuBar @click-menu="changePage" />
  <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Selamat Datang ke Vuejs Website" v-if="menu == 'home'" />
  <MyGreeting v-if="menu == 'greeting'"  />
  <CurrentTime v-if="menu == 'time'" />
</template>

<script>
import MenuBar from './components/MenuBar.vue';
import HelloWorld from './components/HelloWorld.vue';
import MyGreeting from './components/MyGreeting.vue';
import CurrentTime from './components/CurrentTime.vue';

export default {
  name: 'App',
  methods: {
    changePage(page) {
      //alert(page);
      this.menu = page;
    }
  },
  components: {
    HelloWorld, MyGreeting, CurrentTime, MenuBar
  },
  data() {
    return {
      menu: 'home'
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
