<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Binding</title>
</head>
<body>
    <div id="app">
        <!-- v-show only hide or show element -->
        <h1 v-show="fridge_empty">We need to go shopping</h1>
        
        <!-- if false, this will be removed from DOM-->
        <h1 v-if="fridge_empty">We need to go shopping</h1>
        <h1 v-else>Fridge is full. We can eat</h1>

        <h2 v-if="time == 'lunch'">Lunch Time</h2>
        <h2 v-else-if="time == 'breakfast'">Breakfast Time</h2>
        <h2 v-else>Dinner Time</h2>
    </div>

    <script src="../chap1/vuejs-2.7.0.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                fridge_empty: false,
                time: 'xxx'
            }
        });
    </script>
</body>
</html>